.btn {
    padding: .55rem 1.5rem .45rem;
}

.full-width-header {
    width: 100%;
}

.search-suggestions {
    background-color: white;
    position: absolute;
    width: calc(100% - 48px);
    /* Adjust width as needed, 48px accounts for button width */
    z-index: 1000;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
}

.suggestion:hover {
    background-color: #f8f9fa;
}