.grid-container_Students {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; /* This ensures the container takes up the full height of the viewport */
}

.form-container {
  width: 500px; /* Adjust the width as needed */
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.8); /* Set a background color with some transparency */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
  
  /* Center the form container */
  margin: auto; /* This will center the container horizontally */
}

.input-field {
  width: 100%; /* Set all input fields to fill the container */
  margin-bottom: 0px;
  padding: 10px; /* Add padding to input fields */
  box-sizing: border-box; /* Ensure padding is included in the width */
}

.submit-button {
  width: 35%;
  padding: 10px;
  background-color: #ff0000; /* Adjust button styles as needed */
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Add additional styles as needed */

